@model IEnumerable<CustomAuthenticationInASPNetMVC.Models.ActionCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActionCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActionCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActionCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ActionCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ActionCategoryId })
        </td>
    </tr>
}

</table>
