@model CustomActionBasedAuthenticationInASPNetMVC.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "";
}
<br/>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2><strong>Forgot your password?</strong></h2>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("ForgotPassword", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <h4>Enter your email that is linked to this account</h4>
                <hr/>
                @Html.ValidationSummary("", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                        <span class="text-danger"><strong>@ViewBag.ErrorrMessage</strong></span>
                    </div>
                    
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-success" value="Submit"/> 
                        <a class="btn btn-primary" href="@Url.Action("UserLogin","User")">Back to Login</a>
                    </div>
                </div>
                
            }
        </div>
    </div>
    
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
