@using CustomAuthenticationInASPNetMVC.Models
@model CustomAuthenticationInASPNetMVC.Models.Role

@{
    ViewBag.Title = "Details";
}
<br />
<div class="panel panel-primary">
    <div class="panel-heading text-center">
        <h3><strong>Role Details</strong></h3>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
           
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "input-group-addon" })
                        <span class="form-control">
                            @Html.DisplayFor(model => model.RoleName)
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "input-group-addon" })
                        <span class="form-control">
                            @Html.DisplayFor(model => model.Description)
                        </span>
                    </div>
                </div>
            </div>
            <br />

            @{
                bool isSuperAdmin = String.Equals(Model.RoleName, "SuperAdmin", StringComparison.CurrentCultureIgnoreCase);
                if (isSuperAdmin)
                {
                    <span class="btn btn-default"><strong>He/She has all rights and permissions in this application</strong></span>
                    <br />
                        <br />
                }
                else
                {
                    <span class="btn btn-default"><strong>Permissions for this role <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></strong></span>
                    <br />
                        <br />
                        <div class="form-group">

                            <div class="form-control" style="height: auto">
                                @{
                                    if (Model.ControllerActions.Any())
                                    {
                                        foreach (var actionCategory in Model.ControllerActions.Select(x => new
                                        {
                                            x.ActionCategoryId,
                                            x.ActionCategory.ActionCategoryName
                                        }).Distinct().ToList())
                                        {

                                            <div style="border: 1px solid #000; padding: 10px">
                                                <span class="action-cateogry btn btn-primary">
                                                    <strong>@actionCategory.ActionCategoryName</strong>
                                                </span>
                                                <hr />
                                                @{
                                                    foreach (var controllerAction in Model.ControllerActions.Where(x => x.ActionCategoryId == actionCategory.ActionCategoryId).ToList())
                                                    {
                                                        <span class="controller-action btn btn-success">
                                                            @controllerAction.ActionName
                                                        </span>
                                                    }
                                                }

                                            </div>

                                            <br />

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <strong>No permission assigned to this role yet!</strong>
                                                    }

                                }
                            </div>
                        </div>
                                                    }
            }


            <div class="text-center">

                <a class="btn btn-success" href="@Url.Action("UpdateRole", new {id = Model.RoleId})">Edit</a>
                @Html.ActionLink("Back to List", "RoleList", null, new { @class = "btn btn-primary" })

            </div>
        </div>

    </div>
</div>